<ion-header>
  <ion-toolbar mode="ios" color="base">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="app/tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-banner">
    <img [src]="photo" alt="Speaker profile pic" class="profile photo" />
    <img
      src="assets/img/profile-circle.png"
      alt="profile-circle"
      class="profile circle"
      (click)="selectImage()"
    />
    <ion-icon
      [hidden]="!hasImage"
      class="profile removeImg"
      color="pink"
      name="close"
      (click)="removeImg()"
    ></ion-icon>
  </div>

  <ion-text text-center color="danger">
    <p [hidden]="hasImage || submitted == false">
      Photo is required
    </p>
  </ion-text>
  <div class="form">
    <form #profileForm="ngForm" novalidate>
      <ion-input
        class="form-input"
        type="text"
        [(ngModel)]="user.name"
        name="name"
        #name="ngModel"
        placeholder="Name"
        required
      ></ion-input>
      <ion-text text-center color="danger">
        <p [hidden]="name.valid || submitted == false">
          Name is required
        </p>
      </ion-text>

      <ion-input
        disabled
        class="form-input"
        type="email"
        [(ngModel)]="user.email"
        name="email"
        placeholder="Email"
      ></ion-input>

      <ion-input
        class="form-input"
        type="text"
        [(ngModel)]="user.street"
        name="street"
        #street="ngModel"
        placeholder="Street Name"
        required
      ></ion-input>
      <ion-text text-center color="danger">
        <p [hidden]="street.valid || submitted == false">
          Street is required
        </p>
      </ion-text>

      <ion-input
        class="form-input"
        type="text"
        [(ngModel)]="user.city"
        name="city"
        #city="ngModel"
        placeholder="City"
        required
      ></ion-input>
      <ion-text text-center color="danger">
        <p [hidden]="city.valid || submitted == false">
          City is required
        </p>
      </ion-text>

      <ion-input
        class="form-input"
        type="text"
        [(ngModel)]="user.phone"
        name="phone"
        #phone="ngModel"
        placeholder="Phone"
        required
      ></ion-input>
      <ion-text text-center color="danger">
        <p [hidden]="phone.valid || submitted == false">
          Phone number is required
        </p>
      </ion-text>

      <ion-input
        class="form-input"
        type="text"
        [(ngModel)]="user.website"
        name="website"
        #website="ngModel"
        placeholder="Website"
        required
      ></ion-input>
      <ion-text text-center color="danger">
        <p [hidden]="website.valid || submitted == false">
          Website is required
        </p>
      </ion-text>
    </form>
  </div>
</ion-content>
<ion-footer class="footer-background">
  <ion-button
    expand="full"
    class="submit-btn"
    (click)="onSubmit(profileForm)"
    type="submit"
    color="pink"
    >Save
  </ion-button>
</ion-footer>
