.profile-banner {
  background: 
		/* top, transparent red, faked with gradient */ linear-gradient(
      rgba(33, 35, 60, 0.85),
      rgba(33, 35, 60, 0.85)
    ),
    /* bottom, image */ url('src/assets/img/banner.png') no-repeat left;
  height: 150px;
  display: flex;
  justify-content: center;
  ion-header {
    --background: transparent;
    ion-toolbar {
      color: var(--ion-color-light);
      --background: transparent;
      --ion-color-base: transparent !important;
    }
  }
}
.profile {
  position: absolute;
  top: 25px;
  margin: 0 auto;
}
.photo {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  z-index: 1;
}
.circle {
  z-index: 3;
  margin-top: -5px;
  height: 110px;
  width: 110px;
}
.removeImg {
  position: absolute;
  border-radius: 50%;
  background-color: white;
  border: 0.4px solid var(--ion-color-dark);
  margin-left: 55px;
  margin-bottom: 50px;
  width: 20px;
  height: 20px;
  z-index: 3;
}
