<ion-header [scrollHide]="headerScrollConfig" [scrollContent]="pageContent">
  <ion-toolbar mode="ios" color="base">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-segment [(ngModel)]="segment" (ionChange)="updatePosts()">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favorites
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-toolbar color="base">
    <ion-searchbar
      [(ngModel)]="querySerach"
      (ionChange)="searchPosts()"
      debounce="700"
      placeholder="Search"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content #pageContent fullscreen>
  <ion-list [hidden]="!posts">
    <ion-grid fixed>
      <ion-row align-items-stretch>
        <ion-col size="12" size-md="6" *ngFor="let post of posts">
          <ion-card no-padding (click)="onShow(post.id)" class="ioncard">
            <ion-card-header no-padding>
              <ion-item lines="none" no-padding>
                <ion-thumbnail slot="start">
                  <img src="{{ post.user.photo }}" />
                </ion-thumbnail>
                <ion-label text-wrap>
                  <h2>{{ post.user.name }}</h2>
                  <ion-text color="pink">
                    <p>{{ post.user.email }}</p>
                  </ion-text>
                </ion-label>
                <div class="header-info" no-padding>
                  <ion-icon color="pink" name="heart-empty"></ion-icon>
                  <p>{{ post.likes }}</p>
                  <ion-icon color="grey" name="mycomments"></ion-icon>
                  <p>{{ post.comments.length }}</p>
                </div>
              </ion-item>
            </ion-card-header>

            <ion-card-content no-padding class="ion-padding-top">
              <img src="{{ post.photo }}" alt="" />
            </ion-card-content>

            <ion-row no-padding>
              <ion-text color="grey">
                <p>{{ post.body }}</p>
              </ion-text>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <ion-item lines="none" *ngIf="posts" text-center [hidden]="posts.length > 0">
    <ion-label>No Posts Found</ion-label>
  </ion-item>
</ion-content>
