<ion-header>
  <ion-toolbar mode="ios" color="base">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="app/tabs/post"></ion-back-button>
    </ion-buttons>
    <ion-title>Map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map_canvas"></div>
</ion-content>
