<ion-header>
  <ion-toolbar color="base">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="app/tabs/posts"></ion-back-button>
    </ion-buttons>
    <ion-title>Users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let user of users" (click)="onShow(user.id)">
      <ion-avatar slot="start">
        <img [src]="user.photo" alt="Speaker profile pic" />
      </ion-avatar>
      {{ user.name }}
    </ion-item>
  </ion-list>
  <!-- 
  <app-user-accordion
    *ngFor="let user of users"
    [name]="user.name"
    [photo]="user.photo"
  ></app-user-accordion> -->
</ion-content>
