<ion-header>
  <ion-toolbar mode="ios" color="base">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="app/tabs/posts"></ion-back-button>
    </ion-buttons>
    <ion-title>Post Details</ion-title>
    <ion-buttons *ngIf="optionsButton" slot="end">
      <ion-button (click)="presentPopover($event)">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div padding>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-padding-start" size="6">
          <ion-text color="base">{{ post?.topic.title }}</ion-text>
        </ion-col>
        <ion-col
          no-padding
          size="6"
          text-right
          [ngClass]="{ 'show-favorite': isFavorite }"
        >
          <ion-icon
            name="heart-empty"
            size="large"
            class="icon-heart-empty"
            (click)="toggleFavorite()"
          ></ion-icon>
          <ion-icon
            name="heart"
            color="pink"
            size="large"
            class="icon-heart"
            (click)="toggleFavorite()"
          ></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card no-padding class="ioncard">
      <img class="post-img" src="{{ post?.photo }}" alt="" />
      <ion-card-header no-padding class="ion-padding-vertical">
        <ion-card-header no-padding>
          <ion-grid no-padding>
            <ion-row no-padding>
              <ion-col size="10">
                <ion-text color="base">
                  <p class="post-by">By: {{ post?.user.name }}</p>
                </ion-text>
              </ion-col>
              <ion-col no-padding size="2" text-right class="map-col">
                <ion-icon
                  *ngIf="post?.map"
                  color="pink"
                  size="large"
                  (click)="mapModal()"
                  name="pin"
                ></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-card-title color="grey">{{ post?.title }}</ion-card-title>
        </ion-card-header>
      </ion-card-header>

      <ion-card-content no-padding>
        <ion-text color="grey">
          {{ post?.body }}
        </ion-text>
      </ion-card-content>
    </ion-card>
    <div class="comments" (click)="commentsModal()">
      <p>{{ post?.comments.length }} Comments · {{ post?.likes }} Likes</p>
    </div>
  </div>
</ion-content>
