ion-card-title {
  font-size: 28px;
}
.comments {
  border-top: 1px solid var(--ion-color-medium);
  p {
    float: right;
    margin-right: 10px;
  }
}

.post-img {
  border-radius: 5px;
}

.post-by {
  margin-bottom: 0px !important;
}
.map-col {
  padding-top: 8px;
}

.show-favorite {
  position: relative;
}

.icon-heart-empty {
  position: absolute;
  top: 0px;
  right: 10px;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.icon-heart {
  position: absolute;
  top: 0px;
  right: 10px;
  transform: scale(0);
  transition: transform 0.3s ease;
}

.show-favorite .icon-heart {
  transform: scale(1);
}

.show-favorite .icon-heart-empty {
  transform: scale(0);
}
