<ion-header>
  <ion-toolbar mode="ios" color="base">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="app/tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!post.userId">New Post</ion-title>
    <ion-title *ngIf="post.userId">New Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ioncard" no-padding>
    <ion-card-content no-padding>
      <form #postForm="ngForm" novalidate>
        <ion-item lines="none">
          <div class="tvshape" [style.background-image]="'url(' + photo + ')'">
            <ion-icon
              *ngIf="photo"
              id="removeImg"
              color="pink"
              (click)="removeImg()"
              name="close"
            ></ion-icon>
            <ion-icon
              id="cammera"
              (click)="selectImage()"
              *ngIf="!photo"
              name="mycamera"
            ></ion-icon></div
        ></ion-item>
        <ion-text text-center color="danger">
          <p [hidden]="photo || submitted == false">
            Photo is required
          </p>
        </ion-text>
        <ion-input
          class="form-input"
          type="text"
          [(ngModel)]="post.title"
          name="title"
          #title="ngModel"
          placeholder="Post Title"
          required
        ></ion-input>
        <ion-text text-center color="danger">
          <p [hidden]="title.valid || submitted == false">
            Title is required
          </p>
        </ion-text>
        <ion-textarea
          class="text-input"
          type="text"
          rows="5"
          [(ngModel)]="post.body"
          name="body"
          #body="ngModel"
          [ngClass]="{ 'has-focus': focus }"
          placeholder="Post body"
          (ionFocus)="setFocus()"
          (ionBlur)="setFocus()"
          required
        ></ion-textarea>
        <ion-text text-center color="danger">
          <p [hidden]="body.valid || submitted == false">
            Body is required
          </p>
        </ion-text>

        <ion-select
          [(ngModel)]="post.topicId"
          name="topicId"
          #topicId="ngModel"
          interface="popover"
          placeholder="Select Topic"
          required
        >
          <ng-container *ngFor="let topic of topics">
            <ion-select-option [value]="topic.id">
              {{ topic.title }}
            </ion-select-option>
          </ng-container>
        </ion-select>
        <ion-text text-center color="danger">
          <p [hidden]="topicId.valid || submitted == false">
            Topic is required
          </p>
        </ion-text>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer class="footer-background">
  <ion-button
    expand="full"
    class="submit-btn"
    type="submit"
    (click)="onSubmit(postForm)"
    color="pink"
    >Save
  </ion-button>
</ion-footer>
