<ion-content>
  <ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)="closeModal()">
          <ion-icon name="close-circle-outline" color="dark"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-list *ngIf="comments">
    <ion-item-sliding *ngFor="let comment of comments; let i = index">
      <ion-item>
        <ion-avatar slot="start">
          <img src="{{ comment.user.photo }}" />
        </ion-avatar>
        <ion-label text-wrap>
          <ion-text color="grey">
            <p>{{ comment.user.name }}</p>
          </ion-text>
          <ion-text>
            <h2>{{ comment.body }}</h2>
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item-options
        *ngIf="loggedUserId === comment.user.id || userId === loggedUserId"
        side="end"
      >
        <ion-item-option color="danger" (click)="onDelete(comment.id, i)">
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
<ion-footer>
  <form>
    <ion-item lines="none">
      <ion-input
        class="comment-form"
        type="text"
        [(ngModel)]="form.body"
        name="body"
      >
      </ion-input>
      <ion-button slot="end" color="pink" type="submit" (click)="onSend()">
        Send
      </ion-button>
    </ion-item>
  </form>
</ion-footer>
