<ion-header>
  <ion-toolbar mode="ios" color="base">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="app/tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!topic.userId">New Topic</ion-title>
    <ion-title *ngIf="topic.userId">Edit Topic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ioncard" no-padding>
    <ion-card-content no-padding>
      <form #topicForm="ngForm" novalidate>
        <ion-item lines="none">
          <div class="tvshape" [style.background-image]="'url(' + photo + ')'">
            <ion-icon
              *ngIf="photo"
              id="removeImg"
              color="pink"
              (click)="removeImg()"
              name="close"
            ></ion-icon>
            <ion-icon
              id="cammera"
              (click)="selectImage()"
              *ngIf="!photo"
              name="mycamera"
            ></ion-icon>
          </div>
        </ion-item>
        <ion-text text-center color="danger">
          <p [hidden]="photo || submitted == false">
            Photo is required
          </p>
        </ion-text>
        <ion-input
          class="form-input"
          type="text"
          [(ngModel)]="topic.title"
          name="title"
          #title="ngModel"
          placeholder="Topic Title"
          required
        ></ion-input>
        <ion-text text-center color="danger">
          <p [hidden]="title.valid || submitted == false">
            Title is required
          </p>
        </ion-text>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer class="footer-background">
  <ion-button
    expand="full"
    class="submit-btn"
    type="submit"
    (click)="onSubmit(topicForm)"
    color="pink"
    >Save
  </ion-button>
</ion-footer>
