<ion-content fullscreen>
  <div class="banner">
    <ion-header no-border>
      <ion-toolbar mode="ios">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="login"></ion-back-button>
        </ion-buttons>
        <ion-title>Register</ion-title>
      </ion-toolbar>
    </ion-header>
    <div class="content">
      <div
        class="tvshape"
        (click)="selectImage()"
        [style.background-image]="'url(' + account.photo + ')'"
      >
        <ion-icon
          id="cammera"
          *ngIf="!account.photo"
          name="mycamera"
        ></ion-icon>
      </div>
    </div>
  </div>
  <div class="container">
    <ion-text text-center color="danger">
      <p [hidden]="account.photo || submitted == false">
        Photo is required
      </p>
    </ion-text>
    <div class="form">
      <form #loginForm="ngForm" novalidate>
        <ion-input
          class="form-input"
          type="text"
          [(ngModel)]="account.name"
          name="name"
          #name="ngModel"
          placeholder="Name"
          required
        ></ion-input>
        <ion-text text-center color="danger">
          <p [hidden]="name.valid || submitted == false">
            Name is required
          </p>
        </ion-text>

        <ion-input
          class="form-input"
          type="email"
          [(ngModel)]="account.email"
          name="email"
          #email="ngModel"
          email="true"
          placeholder="Email"
          required
        ></ion-input>
        <ion-text text-center color="danger">
          <p [hidden]="email.valid || submitted == false">
            Email is required
          </p>
        </ion-text>

        <ion-input
          class="form-input"
          type="password"
          [(ngModel)]="account.password"
          name="password"
          #password="ngModel"
          placeholder="Password"
          required
        ></ion-input>
        <ion-text text-center color="danger">
          <p [hidden]="password.valid || submitted == false">
            Password is required
          </p>
        </ion-text>

        <ion-input
          class="form-input"
          type="text"
          [(ngModel)]="account.street"
          name="street"
          #street="ngModel"
          placeholder="Street Name"
          required
        ></ion-input>
        <ion-text text-center color="danger">
          <p [hidden]="street.valid || submitted == false">
            Street is required
          </p>
        </ion-text>

        <ion-input
          class="form-input"
          type="text"
          [(ngModel)]="account.city"
          name="city"
          #city="ngModel"
          placeholder="City"
          required
        ></ion-input>
        <ion-text text-center color="danger">
          <p [hidden]="city.valid || submitted == false">
            City is required
          </p>
        </ion-text>

        <ion-input
          class="form-input"
          type="text"
          [(ngModel)]="account.phone"
          name="phone"
          #phone="ngModel"
          placeholder="Phone"
          required
        ></ion-input>
        <ion-text text-center color="danger">
          <p [hidden]="phone.valid || submitted == false">
            Phone number is required
          </p>
        </ion-text>

        <ion-input
          class="form-input"
          type="text"
          [(ngModel)]="account.website"
          name="website"
          #website="ngModel"
          placeholder="Website"
          required
        ></ion-input>
        <ion-text text-center color="danger">
          <p [hidden]="website.valid || submitted == false">
            Website is required
          </p>
        </ion-text>
      </form>
    </div>
    <ion-button
      expand="full"
      class="submit-btn"
      type="submit"
      (click)="onRegister(loginForm)"
      color="pink"
      >Register</ion-button
    >
  </div>
</ion-content>
