<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="topics">
      <ion-label>Topics</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="posts">
      <ion-label>Posts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
