<ion-header>
  <ion-toolbar color="base">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Topics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let topic of topics" (click)="onShow(topic.id)">
      <ion-avatar class="avatar-icon" slot="start">
        <img src="{{ topic.photo }}" />
      </ion-avatar>
      <ion-label text-wrap>
        <ion-text>
          <h2>{{ topic.title }}</h2>
        </ion-text>
        <ion-text color="grey">
          <p>{{ topic.user.name }}</p>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
