<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="closeModal()" fill="clear" slot="start">
        <ion-icon slot="icon-only" color="light" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map_canvas"></div>
</ion-content>
