<ion-content fullscreen>
  <div class="banner">
    <ion-header no-border>
      <ion-toolbar>
        <ion-title text-center>Login</ion-title>
      </ion-toolbar>
    </ion-header>
    <div class="content">
      <img src="assets/img/logo.png" alt="" />
    </div>
  </div>
  <div class="container">
    <div class="form">
      <form #loginForm="ngForm" novalidate>
        <ion-input
          class="form-input"
          type="email"
          [(ngModel)]="account.email"
          name="email"
          #email="ngModel"
          placeholder="Email"
          email="true"
          required
        ></ion-input>
        <ion-text text-center color="danger">
          <p [hidden]="email.valid || submitted == false">
            Email is required
          </p>
        </ion-text>
        <ion-input
          class="form-input"
          type="password"
          [(ngModel)]="account.password"
          name="password"
          #password="ngModel"
          placeholder="Password"
          required
        ></ion-input>
        <ion-text text-center color="danger">
          <p [hidden]="password.valid || submitted == false">
            Password is required
          </p>
        </ion-text>
        <ion-text text-center color="danger">
          <p [hidden]="!error">
            {{ error }}
          </p>
        </ion-text>
      </form>
    </div>
    <a class="signup" (click)="signUp()">Sign up</a>
    <ion-toolbar padding-top class="ion-justify-content-center">
      <ion-buttons class="ion-justify-content-center">
        <ion-button color="facebook" fill="solid" (click)="facebookLogin()">
          <ion-icon color="light" slot="start" name="logo-facebook"></ion-icon>
          Facebook
        </ion-button>
        <ion-button color="twitter" fill="solid" (click)="twitterLogin()">
          <ion-icon color="light" slot="start" name="logo-twitter"></ion-icon>
          Twitter
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-content>
<ion-footer no-border>
  <ion-button
    expand="full"
    class="submit-btn"
    type="submit"
    (click)="onLogin(loginForm)"
    color="pink"
    >Login</ion-button
  >
</ion-footer>
