.content {
  img {
    width: 50%;
  }
}
.container {
  height: 60%;
  display: flex;
  flex-direction: column;
  .form {
    margin-top: 10%;
  }
  .signup {
    text-decoration: none;
    margin-top: 10%;
    text-align: center;
    font-weight: bold;
    color: var(--ion-color-pink);
  }
}
