<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header no-border>
        <ion-toolbar>
          <ion-icon
            (click)="userModal()"
            slot="end"
            size="large"
            color="light"
            name="settings"
          ></ion-icon>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div
          (click)="test()"
          class="tvshape"
          [style.background-image]="'url(' + user.photo + ')'"
        ></div>
        <ion-item lines="none">
          <ion-label text-center text-wrap>
            <ion-text color="base">
              <h1>{{ user.name }}</h1>
            </ion-text>
            <p>{{ user.email }}</p>
          </ion-label>
        </ion-item>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item lines="none" [routerLink]="p.url">
              <ion-icon slot="start" color="light" [name]="p.icon"></ion-icon>
              <ion-label>
                {{ p.title }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer>
        <ion-toolbar>
          <ion-button
            expand="full"
            class="submit-btn"
            fill="outline"
            size="small"
            color="light"
            (click)="onLogOut()"
            >Log Out</ion-button
          >
        </ion-toolbar>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
