.banner {
  background: 
	/* top, transparent red, faked with gradient */ linear-gradient(
      rgba(33, 35, 60, 0.85),
      rgba(33, 35, 60, 0.85)
    ),
    /* bottom, image */ url('src/assets/img/banner.png') no-repeat left;
  height: 40%;
  ion-header {
    --background: transparent;
    ion-toolbar {
      color: var(--ion-color-light);
      --background: transparent;
      --ion-color-base: transparent !important;
    }
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
  }
}

.avatar-icon {
  width: 50px;
  height: 50px;
}

.ioncard {
  box-shadow: none !important;
}

.alertDanger {
  color: var(--ion-color-danger) !important;
}

.form-input {
  text-align: center;
  height: 20%;
  width: 80% !important;
  margin: 5% 10% 0 10%;
  border: 2px solid var(--ion-color-medium);
  border-radius: 10px;
}

.text-input {
  text-align: center;
  width: 80% !important;
  margin: 5% 10% 0 10%;
  border: 2px solid var(--ion-color-medium);
  border-radius: 10px;
}
.has-focus {
  border: 2px solid var(--ion-color-dark);
}
ion-select {
  text-align: center;
  width: 80% !important;
  margin: 5% 10% 0 10%;
  border: 2px solid var(--ion-color-medium);
  border-radius: 10px;
  .has-focus {
    border: 2px solid var(--ion-color-dark);
  }
}

.sc-ion-input-ios-h {
  padding: 4px 10px !important;
}
.footer-background {
  background: var(--ion-color-light);
}
.submit-btn {
  font-size: 1.5em;
  height: 60px;
}

.tvshape {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 10px auto;
  background: var(--ion-color-light);
  border-radius: 50% / 10%;
  color: white;
  text-align: center;
  text-indent: 0.1em;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  #cammera {
    width: 130px !important;
    height: 130px !important;
  }
}
@media screen and (max-height: 420px) {
  .tvshape {
    margin-bottom: 50px;
  }
}
.tvshape:before {
  content: '';
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
}
