ion-menu {
  --ion-background-color: transparent;
  --ion-text-color: var(--ion-color-light);

  ion-toolbar {
    --background: transparent;
  }

  ion-list {
    margin-top: 10px;
    /* optional, but it needs when you use gradient as a background color.*/
    background: transparent;
  }
  --background: 
	/* top, transparent red, faked with gradient */ linear-gradient(
      rgba(33, 35, 60, 0.85),
      rgba(33, 35, 60, 0.85)
    ),
    /* bottom, image */ url('src/assets/img/background.png') no-repeat right;
}
