ion-content {
  --background: /* top, transparent red, faked with gradient */ linear-gradient(
      rgba(33, 35, 60, 0.85),
      rgba(33, 35, 60, 0.85)
    ),
    /* bottom, image */ url('src/assets/img/background.png') no-repeat right;
}
ion-toolbar {
  --background: transparent;
}
.top {
  display: flex;
  justify-content: center;
  height: 210px;
}
.profile {
  position: absolute;
  top: 100px;
}
.photo {
  border-radius: 50%;
  height: 170px;
  width: 170px;
  z-index: 1;
}
.circle {
  z-index: 3;
  margin-top: -8px;
  height: 185px;
  width: 185px;
}
.main {
  display: flex;
  flex-direction: column;
  h1 {
    margin: 5px auto;
    color: var(--ion-color-light);
  }
  p {
    margin: 0px auto;
    color: var(--ion-color-base);
  }
  .info {
    margin-top: 20px;
    h4 {
      margin-left: 5%;
      margin-bottom: 5px;
      color: var(--ion-color-light);
      span {
        color: var(--ion-color-base);
      }
    }
  }
}
