<ion-content fullscreen>
  <ion-header no-border>
    <ion-toolbar>
      <ion-buttons>
        <ion-button (click)="closeModal()" fill="clear" slot="start">
          <ion-icon slot="icon-only" color="light" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-title></ion-title>
      <ion-buttons *ngIf="user.id === loggedUserId" slot="end">
        <ion-button (click)="editProfile()">
          <ion-icon slot="icon-only" color="light" name="md-create"></ion-icon>
          <!-- <ion-icon  name="more"></ion-icon> -->
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="top">
    <img [src]="user.photo" alt="Speaker profile pic" class="profile photo" />
    <img
      src="assets/img/profile-circle.png"
      alt="profile-circle"
      class="profile circle"
    />
  </div>
  <div class="main">
    <h1>{{ user.name }}</h1>
    <p>{{ user.email }}</p>

    <div class="info">
      <h4><span>City: </span>{{ user.city }}</h4>
      <h4><span>Street: </span>{{ user.street }}</h4>
      <h4><span>Phone: </span>{{ user.phone }}</h4>
      <h4><span>Website: </span>{{ user.website }}</h4>
      <h4><span>Role: </span>{{ user.role }}</h4>
    </div>
  </div>
</ion-content>
