<ion-header>
  <ion-toolbar mode="ios" color="base">
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="!userId"></ion-menu-button>
      <ion-back-button
        *ngIf="userId"
        defaultHref="app/tabs/posts"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{ user.name }}</ion-title>
    <ion-buttons *ngIf="editButton" slot="end">
      <ion-button (click)="onEdit()">
        <ion-icon slot="icon-only" name="md-create"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-banner">
    <img [src]="user.photo" alt="Speaker profile pic" class="profile photo" />
    <img
      src="assets/img/profile-circle.png"
      alt="profile-circle"
      class="profile circle"
    />
    <ion-button size="small" (click)="userModal()" color="base">
      View Profile
    </ion-button>
  </div>

  <div *ngIf="user.role === 'Admin'">
    <ion-item>
      <ion-segment
        [(ngModel)]="segment"
        (ionChange)="updateSegment()"
        mode="md"
      >
        <ion-segment-button value="posts">
          <ion-label>Posts</ion-label>
        </ion-segment-button>
        <ion-segment-button value="topics">
          <ion-label>Topics</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-item>
    <div [ngSwitch]="segment">
      <div *ngSwitchCase="'posts'">
        <ion-button
          expand="block"
          color="base"
          *ngIf="editButton"
          routerLink="/app/tabs/posts/add"
        >
          <ion-icon slot="start" name="add"></ion-icon>
          New Post
        </ion-button>
        <ion-list [hidden]="!hasPosts">
          <ion-item *ngFor="let post of posts">
            <ion-avatar class="avatar-icon" slot="start">
              <img src="{{ post?.photo }}" />
            </ion-avatar>
            <ion-label text-wrap (click)="onShowPosts(post.id)">
              <ion-text>
                <h2>{{ post?.title }}</h2>
              </ion-text>
            </ion-label>
          </ion-item>
        </ion-list>
        <ion-item lines="none" [hidden]="hasPosts">
          <ion-label text-center>
            No Posts Yet
          </ion-label>
        </ion-item>
      </div>
      <div *ngSwitchCase="'topics'">
        <ion-button
          expand="block"
          *ngIf="editButton"
          color="base"
          routerLink="/app/tabs/topics/add"
        >
          <ion-icon slot="start" name="add"></ion-icon>
          New Topic
        </ion-button>
        <ion-list [hidden]="!hasTopic">
          <ion-item *ngFor="let topic of topics">
            <ion-avatar class="avatar-icon" slot="start">
              <img src="{{ topic.photo }}" />
            </ion-avatar>
            <ion-label text-wrap (click)="onShowTopic(topic.id)">
              <ion-text>
                <h2>{{ topic.title }}</h2>
              </ion-text>
            </ion-label>
          </ion-item>
        </ion-list>
        <ion-item margin-top lines="none" [hidden]="hasTopic">
          <ion-label text-center>
            No Topics Yet
          </ion-label>
        </ion-item>
      </div>
    </div>
  </div>
  <div *ngIf="user.role === 'User'">
    <ion-item lines="none">
      <h2 class="title">Posts</h2>
    </ion-item>
    <ion-button
      *ngIf="editButton"
      expand="block"
      color="base"
      routerLink="/app/tabs/posts/add"
    >
      <ion-icon slot="start" name="add"></ion-icon>
      New Post
    </ion-button>
    <ion-list [hidden]="!hasPosts">
      <ion-item *ngFor="let post of posts">
        <ion-avatar class="avatar-icon" slot="start">
          <img src="{{ post?.photo }}" />
        </ion-avatar>
        <ion-label text-wrap (click)="onShowPosts(post.id)">
          <ion-text>
            <h2>{{ post?.title }}</h2>
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-item lines="none" [hidden]="hasPosts">
      <ion-label text-center>
        No Posts Yet
      </ion-label>
    </ion-item>
  </div>
</ion-content>
