.profile-banner {
  background: 
	  /* top, transparent red, faked with gradient */ linear-gradient(
      rgba(33, 35, 60, 0.85),
      rgba(33, 35, 60, 0.85)
    ),
    /* bottom, image */ url('src/assets/img/banner.png') no-repeat left;
  height: 160px;
  display: flex;
  justify-content: center;
  ion-header {
    --background: transparent;
    ion-toolbar {
      color: var(--ion-color-light);
      --background: transparent;
      --ion-color-base: transparent !important;
    }
  }
  ion-button {
    margin-top: 125px;
    z-index: 5;
  }
}
.profile {
  position: absolute;
  top: 15px;
  margin: 0 auto;
}
.photo {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  z-index: 1;
}
.circle {
  z-index: 3;
  margin-top: -5px;
  height: 110px;
  width: 110px;
}

.title {
  margin: 0 auto;
}
