<ion-header>
  <ion-toolbar color="base">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="app/tabs/topics"></ion-back-button>
    </ion-buttons>
    <ion-title>Topic Details</ion-title>
    <ion-buttons *ngIf="optionButton" slot="end">
      <ion-button (click)="presentPopover($event)">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="topic">
  <ion-card class="ioncard" no-padding>
    <ion-card-content no-padding>
      <ion-item lines="none"
        ><div
          class="tvshape"
          [style.background-image]="'url(' + topic.photo + ')'"
        ></div
      ></ion-item>
      <ion-item text-center>
        <ion-label>
          <h2>
            Topic Title :<b>{{ topic.title }}</b>
          </h2>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-item text-center lines="none">
    <ion-label>
      <h2>
        Posts
      </h2>
    </ion-label>
  </ion-item>
  <div>
    <ion-list>
      <ion-item
        *ngFor="let post of topic.posts"
        [routerLink]="['/app/tabs/posts/show/', post.id]"
        routerDirection="forward"
      >
        <ion-avatar slot="start">
          <img src="{{ post.photo }}" />
        </ion-avatar>
        <ion-label text-wrap>
          <ion-text>
            <h2>{{ post.title }}</h2>
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
